<h1><%= @course.name %></h1>
<%= link_to "Edit", edit_course_path(@course) %>

<p><%= @course.paragraph1 %></p>

<%= image_tag(@course.image) %>

<p><%= @course.paragraph2 %></p>

<iframe width="560" height="315" src="<%= @course.video %>" frameborder="0" allowfullscreen></iframe>

<p><%= @course.paragraph3 %></p>


<%= link_to 'Back Home', root_path %>
<%= link_to 'Course List', courses_path %>
