<h1><%= @course.name %></h1>
<%= link_to "Edit", edit_course_path(@course) %>

<p><%= @course.paragraph1 %></p>

<%= image_tag(@course.image) %>

<p><%= @course.paragraph2 %></p>

<iframe width="560" height="315" src="<%= @course.video %>" frameborder="0" allowfullscreen></iframe>

<p><%= @course.paragraph3 %></p>

<h1>Time for a Quiz!</h1>

<% @course.questions.each do |question| %>
  <div class="question_wrapper">
    <h2 class="question"><%= question.content %></h2>
    <hr>
  </div>
<% end %>


<%= link_to 'Back Home', root_path %>
<%= link_to 'Course List', courses_path %>
